<a href="https://colab.research.google.com/github/Bhanuprakash157/assignment/blob/master/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conditional printing

In [ ]:
#for multiples of 3:fizz
#for multiples of 5:buzz
#for both:fizzbuzz
 
 
 
for i in range (1,20):
    if i%3==0 and i%5==0:
        print("FIZZBUZZ")
    elif i%5==0:
        print("BUZZ")
    elif i%3==0:
        print("FIZZ")
    else:
        print("",i)

 1
 2
FIZZ
 4
BUZZ
FIZZ
 7
 8
FIZZ
BUZZ
 11
FIZZ
 13
 14
FIZZBUZZ
 16
 17
FIZZ
 19

Remove consecutive duplicates from list

In [ ]:
list =[1,1,1,1,1,1,2,3,4,4,5,1,3]
i=0
dope=False
 
while i < len(list)-1:
    if list [i]== list [i+1]:
         del list[i]
         dope = True
    elif dope:
          del list[i]
          dope = False
    else:
        i += 1
print (list)

[2, 3, 5, 1, 3]

Unique element in list

In [ ]:
lst = []
n = int(input("enter number of elements :"))
for i in range(0, n):
     ele = int(input("enter your elements :"))
     lst.append(ele)
print(" your previous list:",lst)

enter number of elements :2
enter your elements :10
enter your elements :3
 your previous list: [10, 3]

Unique element in list

In [26]:
lst= []
n= int (input ("enter number of elements : "))
for i in range (0, n):
    ele = int(input (" enter your elements:"))
    lst.append(ele)
print(" your previous list :",lst)
   
 
lst2=[]
 
for x in lst:
    if x not in lst2:
         lst2.append(x)
print ("your new list:",lst2)

enter number of elements : 4
 enter your elements:10
 enter your elements:5
 enter your elements:2
 enter your elements:10
 your previous list : [10, 5, 2, 10]
your new list: [10, 5, 2]

Function to check number is in range

In [27]:
def check ():
    a=int (input (" enter value to check:"))
    b=int (input("enter the minimum range:"))
    c=int (input (" enter the maximum:"))
    j=0
    for i in range (b,c+1):
        if(i==a):
             j=1
             break
        else:
             j=0
     
    if (j==1):
           print (" yes..its in!")
    else:
           print (" nope..not in range!")

Calculate number of upper and lower cases

In [34]:
def cnt ():
 
      s1=input ("enter a string:").strip ()
      count=0
      countu=0
      for i in s1:
          if(i.islower()):
                count+=1
          elif (i.isupper()):
                countu+=1
          else:
              pass
 
          print ("THE NUMBER OF UPPER CASES ARE :",countu)
          print("THE NUMBER OF LOWER CASES ARE :",count)